@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');

body{
    font-family: 'Kanit', sans-serif;
}

.contepoke{
    width: 100%;
    margin-top: 20px;
    background-color: gray;
    transition: 0.5s ease-in-out;
}

.contepoke:hover{
    transform: scale(1.1);
    cursor: pointer;
}




.tipoconta{
    margin-top: 30px;
    width: 100%;
}


.titlePoke{
    margin-top: 17px;
    margin-bottom: 17px;
}


.pokedex{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.cartaPoke{
    max-width: 100%;
    margin-top: 10px;
}


.rs{
    transition: 0.5s;
    border-radius: 10px;
}

.rs:hover{
    background-color: black;
}



@media (max-width: 1000px){
    .pokedex{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 780px){
    .pokedex{
        grid-template-columns: repeat(1,1fr);
    }
}