body{
    background-color: rgb(18, 17, 17);
}


.imglogo{
    width: 20%;
}

.titulocentral{
    margin-bottom: 50px;
}

.formcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formcentral{
    max-width: 100%;
    height: 180px;
    border-radius: 10px;
    padding: 10px;
}

.nuevo{
    max-width: 100%;
}


.listtask{
    width: 100%;
}


.re{
    transition: 0.4s;
    border-radius: 10px;
}

.re:hover{
    background-color: black;
}

.po{
    transition: 0.4s;
    border-radius: 10px;
}

.po:hover{
    background-color: black;
}

#hora{
    margin: 10px;
}

#addtask{
    margin-top: 10px;
}




@media(max-width: 1220px){
    .formcontainer{
        display: grid;
        grid-template-columns: 1fr;
    }
}



@media(max-width:450px){
    .formcontainer{
        display: grid;
        grid-template-columns: 1fr;
    }

    .formcentral{
        width: 80%;
    }
}



